body {
  // background-color: red;
  width: 100%;
  color: white;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // background-color: yellow;
  background: none;
  width: 500px;
  
  .todo {
   
    font-family: "Josefin Sans";
    font-size: 5vh;
    padding-top: 1vh;
    // background-color: blue;

    letter-spacing: 2vh;
  }

  .btn-theme-toggle {
    background: none;
    border: none;
    // margin: 10px 10px 0 0;
    display: flex;
    padding: 1vh;
  }
}

@media screen and (max-width: 1024px) {
  .header {
      // background-color: blue;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
  }
}